body {
    font-family: Poppins, sans-serif;
    background-color: #FFFFFF;
    color: #9747FF;

}

body.dark-mode,
body.dark-mode h1,
body.dark-mode p {
    background-color: #0e1014;
    color: #FFFFFF;
}

h1 span{
    color: #9747FF;
    font-size: 64px;
    text-align: center;
    font-weight: 800;
}
h1 {
    color: #232323;
    font-size: 64px;
    text-align: center;
    font-weight: 800;
}
p {
    color: #232323;
    font-size: 24px;
    text-align: center;
}
.botao {
    display: block;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: #9747FF;
    color: #FFFFFF;
    font-size: 24px;
    border-radius: 100px;
    padding: 10px 15px;
    text-decoration: none;


}
.botao:hover {
    background-color: #8233E8;
}

.container {
    text-align: center;
}

.bt {
    border-radius: 50%;
    border: none;
    background-color: #0e1014;

}

header {
    display: flex;
    justify-content: space-between;
}